* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

h2 {
  font-size: 5rem;
}

.countdown {
  margin-top: 4rem;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 2rem;
}
