* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  flex-direction: column;
  min-height: 100vh;
}
